*.swp
bin/webkit_server*
test/testwebkitserver
test/moc_predefs.h
test/target_wrapper.sh
*.swo
*~
*.o
*.moc
Makefile*
qrc_*
*.xcodeproj
*.app
moc_*.cpp
.bundle
pkg
src/webkit_server
src/webkit_server.exe
.DS_Store
tmp
.rvmrc
src/debug
webkit_server.pro.user
.vagrant
*.gch
.ruby-version
.ruby-gemset
.idea
.qmake.stash
gemfiles/*.lock
/src/build/
